<div class="wrapper">
  <div class="container">
    <header class="header">
      <div class="bar">
        <a [routerLink]="['']" class="header__link"><img src="assets/icons/logo.svg" alt="logo" class="header__logo"></a>
        <app-search-field></app-search-field>
        <button mat-button aria-label="filter" class="header__button" (click)="switchFilterState()"></button>
        <div class="user">
          <span class="user__name">{{userName}}</span>
          <button class="user__image" *ngIf="loginService.isAuthorized()" (click)="openMenu()"></button>
          <a [routerLink]="['/auth']"><button class="user__button" *ngIf="!this.loginService.isAuthorized()">LogIn</button></a>
          <div class="submenu" *ngIf="menuIsOpen">
            <a [routerLink]="['/admin']"><button class="submenu__card">Create card</button></a>
            <button class="submenu__logout" (click)="logOut()">LogOut</button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="filterIsShown">
        <app-search-filter></app-search-filter>
      </ng-container>
    </header>
  </div>
</div>
