<div class="container">
  <div class="card" *ngIf="$item | async as item">
    <a class="card__button-back" [routerLink]="['/']"></a>
    <img class="card__image" [src]="item?.snippet?.thumbnails?.standard?.url" alt="video">
    <div class="card__info" appBorderColor [date]="item?.snippet?.publishedAt">
      <div class="card__header">
        <h2 class="card__title">{{item?.snippet?.title}}</h2>
        <h4 class="card__date">{{item?.snippet?.publishedAt | date : 'fullDate'}}</h4>
      </div>
      <div class="card__description">
        <h3 class="card__description-title">Description:</h3>
        <p class="card__description-text" [innerHtml]="item?.snippet?.description | linkify"></p>
      </div>
      <div class="card__statistics">
        <div class="item__views">
          <mat-icon>remove_red_eye</mat-icon>
          <span>{{item?.statistics?.viewCount}}</span>
        </div>
        <div class="item__likes">
          <mat-icon>thumb_up</mat-icon>
          <span>{{item?.statistics?.likeCount}}</span>
        </div>
        <div class="item__dislikes">
          <mat-icon>thumb_down</mat-icon>
          <span>{{item?.statistics?.dislikeCount}}</span>
        </div>
        <div class="item__favorites">
          <mat-icon>collections_bookmark</mat-icon>
          <span>{{item?.statistics?.favoriteCount}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
