@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.login {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  max-width: 34.5rem;
  width: 100%;
  background-color: var(--login-form-bg-color);
  padding: 2.8rem 2rem 2.4rem;
  margin: 0 auto;
  margin-top: 4.5rem;
  border-radius: 5px;

  &__button {
    background-color: var(--main-color);
    @include font($normal, $font-12, var(--white-color));
    max-width: 12.4rem;
    width: 100%;
    align-self: flex-end;
  }
}

::ng-deep {
  .mat-form-field-appearance-fill {
    .mat-form-field-flex {
      padding: 0 0.75em 0!important;
      background-color: var(--login-bg-color);
    }
    .mat-form-field-label {
      margin-top: 0;
    }
  }

  .mat-form-field-label-wrapper {
    overflow: visible!important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0!important;
  }

  .mat-form-field.mat-focused {
    .mat-form-field-label {
      transform: translateY(-2.5em)!important;
    }
  }

  .mat-typography h2 {
    margin: 0;
  }

  .mat-form-field-underline {
    display: none;
  }
  .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-2.5em)!important;
  }
}
