<div class="container">
  <div class="card">
    <h2 class="card__title">Create new card</h2>
    <form action="" [formGroup]="video" (ngSubmit)="video.valid && createCard()" class="video">
      <mat-form-field appearance="fill" class="video__title">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title"formControlName="title" name="title" required>
        <mat-error *ngIf="title?.invalid">{{getTitleErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="video__description">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter description"formControlName="description" name="description">
        <mat-error *ngIf="description?.invalid">{{getDescrErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="video__image">
        <mat-label>Link to image</mat-label>
        <input matInput placeholder="Insert link to image"formControlName="imageLink" name="imageLink" required>
        <mat-error *ngIf="imageLink?.invalid">{{getImageLinkErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="video__link">
        <mat-label>Link to video</mat-label>
        <input matInput placeholder="Insert link to video" formControlName="videoLink" name="videoLink" required>
        <mat-error *ngIf="videoLink?.invalid">{{getVideoLinkErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="video__date">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" name="date" required>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="date?.invalid">{{getDateErrorMessage()}}</mat-error>
      </mat-form-field>
      <button type="submit" mat-button class="card__button">Create card</button>
    </form>
  </div>
</div>
