@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

.search {
  display: flex;
  align-items: center;

  &__button {
    background-color: var(--main-color);
    height: 2.4rem;

    &.mat-button {
      padding: 0px 2.205rem;
      min-width: 0;
      line-height: 1.2rem;
      border-radius: 0px 4px 4px 0px;
      @include font($normal, $font-12, var(--white-color))
    }
  }

  &__input {
    background-color: var(--search-bg-color);
    border: none;
    height: 2.4rem;
    padding: 0 0.5rem;
    width: 100%;
    outline: none;
  }
}
